form{
    margin:10px;
    text-align: center;
}
input {
    border-radius: 1px;
    margin: 5px;
    border: none;
    font-size: 16px;
    color: rgb(12, 12, 219);
}

input:focus {
  outline: none;
    border: none;
}

.modernbutton{
    color: white;
    background-color: rgb(255, 187, 0);
    border: none;
    padding: 5px;
    border-radius: 2px;
}